#SPDX-License-Identifier: MIT-0
---
- name: Install git if is not present
  ansible.builtin.yum:
    name: git
    state: present
  become: yes
- name: Install nginx
  ansible.builtin.yum:
    name: nginx
    state: present
  become: yes

- name: Install lighthouse
  git:
    repo: "https://github.com/VKCOM/lighthouse.git"
    version: master
    dest: "/var/www/lighthouse"
  become: yes

- name: Create lighthouse config
  ansible.builtin.template:
    src: lighthouse.conf.j2
    dest: /etc/nginx/conf.d/default.conf
    mode: 0644
  become: yes
  notify: Restart nginx

- name: Start nginx
  ansible.builtin.service:
    name: nginx
    state: started
  become: yes
# tasks file for lighthouse-role
